// Color Variables
$primary-color: #007BFF;
$text-color: #000000;
$text-color-dark: #000000;
$body-color: #FFFFFF;
$border-color: #ECECEC;
$black: #000000;
$white: #FFFFFF;
$light: #EDF6F5;

$transparent: rgba(0,0,0,0);

// Font Variables
$primary-font: 'Lato', sans-serif;
$icon-font: 'themify';